<!doctype html>
<html lang="en">

<head>
    <title>Batdongsan</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

</head>

<body>
    <div class="container">
        <header>
            <div class="header__top">
                <div class="logo"><a href="/"><img src="img/logo.jpg" alt=""></a></div>
                <div class="topleftmobile">
                    <i class="fa fa-bars" aria-hidden="true">
                        <div class="nav__hover">

                            <div class="nav__list">
                                <ul>
                                    <li>trang chủ</li>
                                    <li>Nhà đất bán</li>
                                    <li>nhà đất cho thuê</li>
                                    <li>Cần mua/cần thuê</li>
                                    <li style="color:green;">chat</li>
                                    <li>Dự án</li>
                                    <li>Danh bạ</li>
                                    <li>tin tức</li>
                                    <li>Xây dựng-kiến trúc</li>
                                    <li>Nội-Ngoại thất</li>
                                    <li>Phong thủy</li>
                                    <li>Nhận bất động sản qua email</li>
                                    <li>góp ý báo lỗi</li>
                                    <li>giới thiệu chung</li>
                                    <li>liên hệ</li>
                                </ul>
                            </div>
                        </div>
                    </i>
                </div>
                <div class="header__right">
                    <div class="right__top"><img src="img/quangcao1.jpg" alt=""></div>
                    <div class="right__bottom">
                        <div class="right__bottom__icon">
                            <img src="img/fb.png" alt="" />
                            <img src="img/gg.png" alt="" />
                            <img src="img/youtube.png" alt="" />
                        </div>
                        <div class="right__bottom__menu" style="margin-top: 3px;">
                            <ul>
                                <li><a href=""><img src="img/banxehoi.png" />Oto.com.vn</a></li>
                                <li class="xanh"><a href=""><img src="img/plus.png" />Đăng rao tin</a></li>
                                <li class="dangki"><img src="img/register.png" />Xin chào admin</li>
                                <li class="logout" id="logout"><img src="img/login.png" />Logout</li>
                                <li><a href=""><img src="img/english.png" />English</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li class="itemmenu"><img src="img/homea.png" alt="" /></li>
                        <li class="itemmenu"><a href="nhadatban">Nhà đất bán</a></li>
                        <li class="itemmenu"><a href="nhadatthue">Nhà đất cho thuê</a></li>
                        <li class="itemmenu"><a href="duan">Dự án</a></li>
                        <li class="itemmenu"><a href="/canmuathue">Cần mua-Cần thuê</a></li>
                        <li class="itemmenu"><a href="">Tin tức</a></li>
                        <li class="itemmenu"><a href="">Xây dựng-Kiến trúc</a></li>
                        <li class="itemmenu"><a href="">Nội - Ngoại thất</a></li>
                        <li class="itemmenu"><a href="#">Phong thủy</a></li>
                        <li class="itemmenu"><a href="#">Danh bạ</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- het header -->
        <div class="container">

            <div class="row">
                <div class="col-md-3 admin__left" style="background: #264383;">
                    <div style="text-align: center"><i class="fa fa-user-circle" aria-hidden="true"
                            style="color: white; font-size:110pt;"></i>
                    </div>
                    <ul style=" color:royalblue; cursor: pointer;">
                        <li id="user" style="margin-top:40px"> <i class="fa fa-user-circle" aria-hidden="true"></i> User
                        </li>
                        <li id="sanpham"> <i class="fa fa-pie-chart" aria-hidden="true"></i> Sản phẩm</li>
                        <li id="tintuc"> <i class="fa fa-info" aria-hidden="true"></i> Tin tức</li>
                        <li id="addtintuc"><i class="fa fa-plus-square" aria-hidden="true"></i>Thêm tin</li>
                        <li id="duan"><i class="fa fa-qrcode" aria-hidden="true"></i> Dự án</li>
                        <li id="addduan"><i class="fa fa-plus-square" aria-hidden="true"></i> Thêm dự án</li>
                    </ul>
                </div>
                <div class="col-md-9 admin__right">

                    <div id="list">
                        <div class="tittle">
                            <p id="tit">Danh sách user</p>
                        </div>
                        <div class="list" id="list1">
                            <table class="table table-striped table-inverse ">
                                <thead class="thead-inverse">
                                    <tr id="table">
                                        <th>id</th>
                                        <th>Email</th>
                                        <th> Số Điện Thoại</th>
                                        <th>Địa chỉ</th>
                                        <th>isActive</th>
                                        <th>Thao Tác</th>
                                    </tr>
                                </thead>
                                <tbody id="showuser">

                                </tbody>
                            </table>
                            <div id="add"></div>
                        </div>
                    </div>

                    <div id="formadd">
                        <form>
                            <div class="row" style="margin-top: 30px;">
                                <label class="col-sm-3 control-label lable">Title:</label>
                                <div class="col-sm-9">
                                    <div class="number required" aria-required="true">
                                        <input id="ten" class="form-control" placeholder=""></div>
                                </div>
                            </div>
                            <div class="row" id="loaitinshow">
                                <label class="col-sm-3 control-label lable">Loại tin:</label>
                                <div class="col-sm-9">
                                    <select name="" id="id_loaitin">
                                        <option value="1">All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label lable">Nội dung</label>
                                <div class="col-sm-9">
                                    <div id="editor"></div>
                                </div>
                            </div>
                            <div style="margin-top: 100px">
                                chỗ up ảnh(* nhỏ hơn 5MB)<label class="file-upload-container" for="file-upload" style="    width: 150px;
                height: 50px;
                background: green;
                text-align: center;
                vertical-align: middle;
                line-height: 50px;
                color: white;
                margin-left: 20px;
                font-size: 20pt;
              ">
                                    <input id="file-upload" type="file" style="display:none;" onchange="a()">
                                    upload
                                </label>
                                <div id="title_image"></div>

                                <div id="loading"></div>
                                <div style="display: flex">

                                    <div id="create" class="create__admin">
                                        <div id="loadingstatus">

                                        </div>
                                        <span>Đăng</span>
                                    </div>
                                </div>


                        </form>
                        <div id="message"></div>
                    </div>
                </div>
            </div>
            <script src="trangchu.js"></script>
            <style>
                .create__admin {
                    background: #264383;
                    color: white;
                    width: 150px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    margin-top: 30px;
                    margin-left: 42%;
                    cursor: pointer;
                }

                .row {
                    margin-bottom: 20px;
                }

                #message {
                    text-align: center;
                    font-size: 25pt;
                }

                .admin__left ul li {
                    color: white;
                    border-bottom: 1px solid;
                    line-height: 50px;
                }

                .plus:hover {
                    cursor: pointer;
                }
            </style>
        </div>
        <!-- footer -->
        <footer>
            <div style="text-align: center;">
                <h5>Công ty cổ Phần và Đầu tư thương Mại MMD</h5>
                <h6 style="color: gray;">Tổng Đài chăm sóc Khách Hàng:0989879000</h6>
                <div>
                    <p>coppyright 2017-2019 Batdongsan.com</p>
                    <p>email: batdongsan@gmail.com|batdongsan.com.vn</p>
                    <p>giấy đăng kí kinh doanh số 23445566 sở kế hoạch đầu tư thahf phố hà nội vấp 23/3/2019</p>
                </div>
            </div>
            <img src="img/dadangki.jpg" alt="">
        </footer>
    </div>
    <script src="trangchu.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js"
        integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="js/lib/jquery.validate.min.js"></script>
    <script src="js/lib/additional-methods.min.js"></script>
    <script src="js/lib/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="common.js"></script>
    <script src="index.js"></script>
    <script>
        $('#formadd').hide()
        $('#logout').click(() => {
            $.removeCookie('tokenId', { path: "/" });
            window.location.reload()
        })
        axios.post('/api/checkadmin', {}, {
            headers: { "Authorization": "Bearer " + $.cookie('tokenId') }
        }).then(res => {
            usershow(10000000)
            console.log(res.data)
            if (res.data.code != 1000) {
                window.location.replace('/')
            }
        })
        $('#user').click(() => {
            usershow(10000000)
        })

        let addduan = false
        function usershow(id) {
            console.log("----user")
            $('#add').html('')
            $('#tit').html("<span>Danh sách người dùng</span>")
            $('#list1').show()
            $('#formadd').hide()
            $('#table').html("<th>id</th><th>Email</th><th>Số điện thoại</th><th>địa chỉ</th><th>isActive</th><th>thao tác</th>")
            axios.post('/api/admin/user', { id }, {
                headers: { "Authorization": "Bearer " + $.cookie('tokenId') }
            }).then(res => {
                console.log(res)
                let html = ''
                let id = 0;
                if (res.data.data.length > 0) {
                    res.data.data.map(x => {
                        id = x.id
                        html += "<tr>"
                        x.isactive == 0 ? x.isactive = "true" : x.isactive = "false"
                        html += '<th>' + x.id + '</th>'
                        html += '<th>' + x.email + '</th>'
                        html += '<th>' + x.sodienthoai + '</th>'
                        html += '<th>' + x.diachi + '</th>'
                        html += '<th>' + x.isactive + '</th>'
                        html += '<td style="display:flex;"><div onclick="xacthuc(' + x.id + ')"><i class="fa fa-user-times" aria-hidden="true"></i></div>/ <div onclick="xoauser(' + x.id + ')"><i class="fa fa-remove"aria-hidden="true"></i><div></td></tr>'

                    })
                    $('#showuser').html(html)
                    if (res.data.data.length == 10)
                        $('#add').html("<span style='color:blue;    font-size: 15pt;' onclick='usershow(" + id + ")'>Tiếp...</span>")
                }
                else {
                    $('#add').html("")
                    $('#showuser').html('<span>no data</span>')
                }
            })
        }

        function xacthuc(id) {
            console.log(id)
            if (window.confirm("Bạn muốn xác thực người dùng này?\n Tiếp tuc?")) {
                axios.post('/api/admin/userauth', {
                    id
                }, {
                        headers: { "Authorization": "Bearer " + $.cookie('tokenId') }
                    }).then(res => {
                        alert(res.data.message)
                    })
            }
        }
        function xoauser(id) {
            console.log(id)
            if (window.confirm("Bạn muốn xoa người dùng này?\n Tiếp tuc?")) {
                axios.post('/api/admin/deleteuser', {
                    id
                }, {
                        headers: { "Authorization": "Bearer " + $.cookie('tokenId') }
                    }).then(res => {
                        alert(res.data.message)
                    })
            }
        }
        $('#sanpham').click(() => {
            sanphamshow(10000000, true)
        })
        function sanphamshow(id, option) {
            id == 0 ? id = 100000000 : id = id
            $('#tit').html("<span>Danh sách sản phẩm</span>")
            $('#list1').show()
            $('#formadd').hide()
            $('#table').html("<th>id</th><th>Tên sản phẩm</th><th>giá</th><th>diện tich</th><th>thao tác</th>")
            let html = ''
            console.log(option)
            let url = ""
            if (option) {
                url = '/api/sanpham/getnsanpham?id=' + id
            }
            else {
                url = '/api/sanpham/getnsanpham?option=false&&id=' + id
            }
            console.log("---------" + url)
            axios.get(url).then(res => {
                let id = 0;
                console.log(res)
                if (res.data.data.length > 0) {
                    res.data.data.map(x => {
                        id = x.id
                        html += '<tr>'
                        html += '<td scope="row"><a href=' + '"/chitiet?id=' + x.id + '">' + x.id + '</a></td>'
                        html += '<th>' + x.tensp + '</th>'
                        html += '<th>' + x.gia + '</th>'
                        html += '<th>' + x.dientich + '</th>'
                        html += '<td><div style="display:flex"><div onclick="kiemtra(' + x.id + ')"><i class="fa fa-check-circle" aria-hidden="true"></i></div>/ <div onclick="xoa(' + x.id + ')"><i class="fa fa-remove"aria-hidden="true"></i><div></div></td>'
                    })
                    $('#showuser').html(html)
                    if (res.data.data.length == 10)
                        $('#add').html("<span class='plus' onclick=sanphamshow(" + res.data.data[0].id + ",false" + ")>Trước</span>/<span class='plus' onclick='sanphamshow(" + id + ",true" + ")'>Tiếp</span>")
                    else {
                        if (option) {
                            $('#add').html("<span class='plus' onclick=sanphamshow(" + res.data.data[0].id + ",false" + ")>Trước</span>")
                        }
                        else {
                            $('#add').html("<span class='plus' onclick=sanphamshow(" + id + ",true" + ")>Tiếp</span>")
                        }
                    }
                }
                else {
                    $('#showuser').html('<span>no data</span>')
                    if (option) {
                        $('#add').html("<span class='plus' onclick=sanphamshow(" + id + ",false" + ")>Trước</span>")
                    }
                    else {
                        $('#add').html("<span class='plus' onclick=sanphamshow(" + id + ",true" + ")>Tiếp</span>")
                    }
                }
            })
        }
        function kiemtra(x) {
            console.log(x)
            axios.post('/api/momo/kiemtra?id=' + x, {}, {
                headers: { "Authorization": "Bearer " + $.cookie('tokenId') }
            }).then(res => {
                console.log(res.data)
                alert("Trạng thái thanh toán " + res.data.data.message)
            })
        }
        function xoa(id) {
            console.log(id + "dele")
            if (window.confirm("Bạn muốn xóa sản phẩm này?"))
                axios.post('/api/sanpham/delete', { id }, {
                    headers: { "Authorization": "Bearer " + $.cookie('tokenId') }
                }).then(res => {
                    console.log(res.data.data)
                    alert(res.data.message)
                })
        }
        $('#tintuc').click(() => {
            tintucshow(1000000)
        })
        function tintucshow(id) {
            $('#tit').html("<span>Danh sách tin tức</span>")
            $('#list1').show()
            $('#formadd').hide()
            $('#add').html('')
            $('#table').html("<th>id</th><th>Tên </th><th>Loại tin</th><th>thao tác</th>")
            axios.get('/api/tintuc/getntintuc?id=' + id).then(res => {
                let html = ''
                let id = 0;
                console.log(res.data)
                if (res.data.length > 0) {
                    res.data.map(x => {
                        id = x.id
                        if (x.id_loaitin == 1) x.id_loaitin = "ko xác định"
                        if (x.id_loaitin == 2) x.id_loaitin = "tin bán"
                        if (x.id_loaitin == 3) x.id_loaitin = "tin cho thuê"
                        if (x.id_loaitin == 3) x.id_loaitin = "tin cần mua - cần thuê"
                        html += '<tr>'
                        html += '<td scope="row"><a href=' + '"/chitietbaiviet?id=' + x.id + '">' + x.id + '</a></td>'
                        html += '<th>' + x.ten + '</th>'
                        html += '<th>' + x.id_loaitin + '</th>'
                        html += '<td> <div onclick="xoatin(' + x.id + ')"><i class="fa fa-remove"aria-hidden="true"></i><div></td>'

                    })
                    $('#showuser').html(html)
                    if (res.data.length == 10)
                        $('#add').html("<span style='color:blue;    font-size: 15pt;' onclick='tintucshow(" + id + ")'>Tiếp...</span>")
                }
                else {
                    $('#add').html("")
                    $('#showuser').html('<span>no data</span>')
                }
            })
        }

        function xoatin(id) {
            console.log(id)
            if (window.confirm("Bạn muốn xóa tin này?\n Tiếp tục?"))
                axios.post('/api/tintuc/delete', { id }, {
                    headers: { "Authorization": "Bearer " + $.cookie('tokenId') }
                }).then(re => {
                    alert("Xóa tin :" + re.data.mesage)
                })
        }
        $('#addtintuc').click(() => {
            addduan = false
            $('#list1').hide()
            $('#formadd').show()
            $('#loaitinshow').show()
            $('#tit').html("<span>Thêm tin tức</span>")

        })
        let image = 'as'
        let flag = 0
        let formData = new FormData()
        function a() {


            try {
                let file = this.event.target.files

                formData.append('file', file[0])

                // For debug purpose only
                // Inspects the content of formData


                if (file[0].type.indexOf("image") >= 0 && file[0].size < 5000000) {
                    flag = 1
                    console.log(file[0])
                    $('#title_image').html("<span>" + file[0].name + "</span>")

                } else {

                    $('#message').html("<div style='color:red;'>Loi anh</div>")
                }
            } catch (err) {
                console.log(err)
                $('#loading').html("")
                $('#message').html("<div style='color:red;'>Loi anh</div>")
            }
        }

        $('#create').click(() => {
            let id_loaitin = 0
            if (!addduan) {
                $('#tit').html("<span>Thêm tin tức</span>")
                id_loaitin = $('#id_loaitin').find(':selected').val()
            }

            // $('#list').hide()
            let noidung = sa()
            let ten = $('#ten').val()

            console.log(noidung)
            if (!(noidung.length > 0 && ten.length > 0)) {
                $('#message').html("<span style='color:red;'>Thông tin bạn nhập chưa chính xác, vui long kiem tra lại</span>")
            }
            else {
                if (flag == 1) {
                    // $('#loading').html("<img src='/img/loading.gif'style='width: 90px;margin-left:200px;' >")
                    $('#loadingstatus').html("<img src='/img/loading.gif'style='width: 90px' >")
                    $('#message').html("<span style='color:orange;'>Uploading image...</span>")
                    axios.post('/upload', formData, {
                        headers: { "Authorization": "Bearer " + $.cookie('tokenId') }
                    }).then(res => {
                        console.log(res)
                        if (res.data.length > 10) {
                            image = res.data
                            $('#loading').html('<img src=' + image + ' style="width: 260px;margin-left:200px;" >')
                            $('#message').html("<span style='color:orange;'>Uploading ...</span>")
                            let url = ''
                            let body = {}
                            if (addduan) {
                                url = "/api/duan/taoduan"
                                body = { image: image, mota: noidung, ten: ten }
                            } else {
                                url = "/api/tintuc/taotintuc"
                                body = { image: image, noidung: noidung, ten: ten, id_loaitin: id_loaitin }
                            }
                            axios.post(url,
                                body,
                                { headers: { "Authorization": "Bearer " + $.cookie('tokenId') } }).then(res => {
                                    if (res.data.code === 1000) {
                                        $('#message').html("<span style='color:blue;'>Thanh cong</span>")
                                        $('#loadingstatus').html("")
                                    }
                                    else {
                                        $('#loadingstatus').html("")
                                        $('#message').html("<span>" + res.data.message + "</span>")
                                    }
                                })
                        } else {
                            $('#loading').html("")
                            $('#loadingstatus').html("")
                            $('#message').html("<spanstyle='color:red;' >co loi xay ra, vui long thu lai</span>")
                        }

                    })
                }
                if (flag == 0) {
                    $('#message').html("<span style='color:red;'>Thông tin bạn nhập chưa chính xác, vui long kiem tra lại</span>")
                }

            }


            //=======
            //     console.log(id_loaisp)
            //>>>>>>> master
        })
        function duanshow(id) {
            $('#tit').html("<span>Danh sách dự án</span>")
            $('#list1').show()
            $('#formadd').hide()
            $('#add').html('')
            $('#table').html("<th>id</th><th>Tên </th><th>thao tác</th>")
            axios.get('/api/duan/getnduan?id=' + id).then(res => {
                let html = ''
                let id = 0;
                console.log(res.data)
                if (res.data.data.length > 0) {
                    res.data.data.map(x => {
                        id = x.id

                        html += '<tr>'
                        html += '<td scope="row"><a href=' + '"/chitietduan?id=' + x.id + '">' + x.id + '</a></td>'
                        html += '<th>' + x.ten + '</th>'

                        html += '<td> <div onclick="xoaduan(' + x.id + ')"><i class="fa fa-remove"aria-hidden="true"></i><div></td>'

                    })
                    $('#showuser').html(html)
                    if (res.data.length == 10)
                        $('#add').html("<span onclick='tintucshow(" + id + ")'>Tiếp</span>")
                }
                else {
                    $('#add').html("")
                    $('#showuser').html('<span>no data</span>')
                }
            })
        }
        $('#duan').click(() => {
            duanshow(10000000)
        })
        function xoaduan(id) {
            console.log(id)
            if (window.confirm("Bạn muốn xóa dự án này?\n Tiếp tục?"))
                axios.post('/api/duan/delete', { id }, {
                    headers: { "Authorization": "Bearer " + $.cookie('tokenId') }
                }).then(re => {
                    alert("Xóa dự án :" + re.data.mesage)
                })
        }
        $('#addduan').click(() => {
            addduan = true
            $('#list1').hide()
            $('#formadd').show()
            $('#loaitinshow').hide()
            $('#tit').html("<span>Thêm tin dự án</span>")

        })
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike', 'link'],        // toggled buttons
            ['blockquote', 'code-block'],
            ['video', 'formula', 'image'],
            [{ 'header': 1 }, { 'header': 2 }],               // custom button values
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
            [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
            [{ 'direction': 'rtl' }],                         // text direction

            [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],

            ['clean']                                         // remove formatting button
        ];

        var options = {
            theme: 'snow',
            modules: {
                toolbar: toolbarOptions,
                // formula: true          // Include formula module (needs extra css + Katex Script)
            },
            placeholder: 'Halloween is Coming'
        }

        var container = document.getElementById('editor');
        var editor = new Quill(container, options);
        function sa() {
            let a = editor.root.innerHTML
            console.log(a)
            return a
        }

    </script>
</body>

</html>