<!doctype html>
<html lang="en">

<head>
  <title>Bat-dong-san</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="trangphu.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- axios  -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="contentmain">
      <div class="header">
        <div class="topheader">
          <div class="row">
            <div class="col-md-3">
              <img src="img/logo.jpg" alt="" />
            </div>
            <div class="col-md-9">
              <div class="topright">
                <img src="img/quangcao1.jpg" alt="" style="width: 837px;" />
              </div>
              <div class="row">
                <div class="col-md-4">
                  <img src="img/fb.png" alt="" />
                  <img src="img/gg.png" alt="" />
                  <img src="img/youtube.png" alt="" />
                </div>
                <div class="col-md-8" style="margin-top: 3px;">
                  <div class="itemtop">
                    <a href=""><img src="img/banxehoi.png" />Oto.com.vn</a>
                  </div>
                  <div class="itemtop xanh">
                    <a href=""><img src="img/plus.png" />Đăng rao tin</a>
                  </div>
                  <div class="itemtop">
                    <a href="/user"><img src="img/register.png" />Xin chào</a>
                  </div>
                  <div class="itemtop">
                    <div id="logout"><img src="img/login.png" />Thoát</div>
                  </div>
                  <div class="itemtop">
                    <a href=""><img src="img/english.png" />English</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu">
          <div class="itemmenu"><img src="img/homea.png" alt="" /></div>
          <div class="itemmenu"><a href="#">Nhà đất bán</a></div>
          <div class="itemmenu"><a href="#">Nhà đất cho thuê</a></div>
          <div class="itemmenu"><a href="#">Dự án</a></div>
          <div class="itemmenu"><a href="#">Cần mua-Cần thuê</a></div>
          <div class="itemmenu"><a href="#">Xây dựng-Kiến trúc</a></div>
          <div class="itemmenu"><a href="#">Nội - Ngoại thất</a></div>
          <div class="itemmenu"><a href="#">Phong thủy</a></div>
          <div class="itemmenu"><a href="#">Danh bạ</a></div>
        </div>
        <div class="timkiem">
          <div class="itemtimkiem">
            <h5>TÌM KIẾM DỰ ÁN</h5>
          </div>
          <div class="itemtimkiem"><input type="text" name="" id=""
              placeholder="Nhập từ khóa tìm kiếm(ví dụ: dự án quận Hà Đông)"></div>
          <div class="itemtimkiem">
            <p class="fa fa-search" aria-hidden="true"> Tìm kiếm</p>
          </div>
          <div class="itemtimkiem hotrovay">Hỗ trợ vay ngân hàng</div>
        </div>
      </div>


      <!-- hết phần header -->
      <div class="container">
        <div class="content row">

          <div class="col-md-9">
            <div class="formdang">
              <div class="formdang__tieude">
                <div class="formdangtop">ĐĂNG TIN RAO CẦN MUA, CẦN THUÊ NHÀ ĐẤT</div>
                <p>(Quý vị nhập thông tin nhà đất cần mua hoặc cần thuê vào các mục dưới đây)</p>
              </div>
              <div class="chonmuc">
                <div class="row">
                  <div class="col-md-6 banthue" style="color: blue;">
                    <a href="dangraotin.html"> Cần bán/ Cho thuê</a>

                  </div>
                  <div class="col-md-6 muathue">
                    <a href="muathue.html" style="color:white;">Cần mua/Cần thuê</a>

                  </div>
                </div>
              </div>
              <div class="trangbanthue">
                <form action="" method="post">
                  <div class="thongtinmota">
                    <div class="thongtinmota__tieude">THÔNG TIN CƠ BẢN</div>
                    <div class="noidungmota">
                      <small>Bạn chỉ chọn được thông tin Phường/Xã, Đường/Phố hay Dự án khi chọn 1 Quận/Huyện. Trường
                        hợp bạn chọn nhiều Quận/Huyện thì không được chọn các tiêu chí còn lại.</small>
                      <div class="row">
                        <div class="col-md-6 flex">
                          <div class="row">
                            <div class="col-md-5">Tỉnh thành phố (*)</div>
                            <div class="col-md-7">
                              <select id="tinh">
                                <option>--Tỉnh/thành phố--</option>
                                <option value="2">Hà Nội</option>
                                <option value="3">Thái Bình</option>
                                <option value="4">Thành phố HCM</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <script>


                        </script>
                        <div class="col-md-6 flex">
                          <div class="row">
                            <div class="col-md-5">Quận/Huyện</div>
                            <div id="selecthuyen" style="margin-left: 50px;"></div>
                          </div>
                        </div>


                        <div class="col-md-6 flex">
                          <div class="row">
                            <div class="col-md-5">Chọn diện tích (*)</div>
                            <div class="col-md-7">
                              <input type="text" id="dientich" placeholder=" m2">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 flex">
                          <div class="row">
                            <div class="col-md-5">Chọn mức giá (*)</div>

                            <div class="col-md-7">
                              <input type="text" id="gia">
                            </div>

                          </div>
                        </div>
                        <div class="col-md-6 flex">
                          <div class="row">
                            <div class="col-md-5">Loại tin (*)</div>
                            <div class="col-md-7">
                            <select id="id_loaisp">

                              <option value="2">Tin bán</option>
                              <option value="3">Tin thuê</option>
                              <option value="4">Tin cần mua - cần thuê</option>
                            </select>
                            </div>
                          </div>
                        </div>
                        <div>
                          <label>Địa chỉ(*)</label>
                          <input type="text" name="" id="diachi" style="width:700px">
                        </div>
                      </div>
                    </div>

                  </div>


                  <div class="thongtinmota">
                    <div class="thongtinmota__tieude">THÔNG TIN MÔ TẢ</div>
                    <div class="noidungmota">
                      <div class="flex">
                        <div class="tieude">Tiêu đề</div><small>(*)</small>
                      </div>
                      <input type="text" placeholder="nhập tiêu đề" id="tensp" name="" style="width: 700px;">
                      <div class="flex">
                        <div class="tieude">Nội dung tin đăng</div> <small>(*)tối đa 3000 ký tự</small>
                      </div>
                      <textarea name="" id="mota_soluoc" cols="60" rows="10"></textarea>
                      <div>
                        chỗ up ảnh(* nhỏ hơn 5MB)<label class="file-upload-container" for="file-upload" style="    width: 150px;
            height: 50px;
            background: green;
            text-align: center;
            vertical-align: middle;
            line-height: 50px;
            color: white;
            margin-left: 20px;
            font-size: 20pt;
          ">
                          <input id="file-upload" type="file" style="display:none;" onchange="a()">
                          upload
                        </label>
                        <div id="title_image"></div>
                        <div id="loading"></div>


                        <!-- Scripts -->


                        <script>

                        </script>
                      </div>

                    </div>

                  </div>


                  <div class="thongtinmota">
                    <div class="thongtinmota__tieude">THÔNG TIN KHAC</div>
                    <div class="noidungmota">
                      <small>Quý vị nên điền đầy đủ thông tin vào các mục dưới đây để tin đăng có hiệu quả hơn</small>
                      <div class="row">
                        <div class="col-md-6 flex">
                          <div class="row">
                            <div class="col-md-5">Chiều dài</div>
                            <div class="col-md-7">
                              <input type="text" name="" id="chieudai" placeholder="" style="    width: 200px;">
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6 flex">
                          <div class="row">
                            <div class="col-md-5">Chiều rộng</div>
                            <div class="col-md-7"><input type="text" name="" id="chieurong" placeholder=""
                                style="    width: 200px;"></div>
                          </div>
                        </div>
                        <div class="col-md-6 flex">
                          <div class="row">
                            <div class="col-md-5">Hướng nhà</div>
                            <div class="col-md-7"><input type="text" name="" id="" placeholder=""
                                style="    width: 200px;margin-left: -8px;"></div>
                          </div>
                        </div>

                        <div class="col-md-6 flex">
                          <div class="row">
                            <div class="col-md-5">Loại đất</div>
                            <div class="col-md-7">
                              <input type="text" name="" id="loaidat" placeholder=""
                                style="    width: 200px;margin-left: -8px;">
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>

                  </div>
                  <div style="display:flex;justify-content: center;">
                  <div id="loadingstatus"></div>
                  <div id="create_sp" >Đăng bài</div>
                  </div>
                </form>
              </div>
              <div id="message"></div>

            </div>

          </div>

          <div class="col-md-3">
            <div class="huongdan">
              <div class="huongdan__tieude">
                <b>HƯỚNG DẪN ĐĂNG TIN</b>
              </div>
              <div class="huongdan__nd">
                <ul>
                  <li>Thông tin có dấu (*) là bắt buộc.</li>
                  <li>Không gộp nhiều bất động sản trong một tin rao.</li>
                  <li>Không đăng lại tin đã đăng trên www.batdongsan.com.vn.</li>
                  <li>Nên sử dụng trình duyệt<a href="">FireFox 3.0</a>,<a href=""> IE7</a> trở lên hoặc<a href="">
                      Google Chrome</a> để việc đăng tin và truy cập website được thuận lợi.</li>
                  <li>Để quá trình đăng tin và duyệt nhanh hơn, xin lưu ý: <mark>gõ tiếng việt có dấu và không viết
                      tắt...</mark></li>
                </ul>
              </div>
            </div>
            <div class="bancobiet"><b>Bạn có biết nơi rao vặt nhà đất hiệu quả nhất?</b></div>
            <div>Với hơn 100 000 lượt truy cập mỗi ngày, Batdongsan.com.vn đã đạt mức tăng trưởng 300% chỉ trong 9 tháng
              đầu năm 2011 và tiếp tục khẳng định vị thế là nơi rao vặt nhà đất, quảng cáo nhà đất hiệu quả nhất hiện
              nay. Rao vặt nhà đất trên Batdongsan.com.vn là phương án tối ưu nhất cho nhu cầu bán, cho thuê nhà đất của
              Quý vị.</div>
          </div>
        </div>
      </div>


      <!-- footer -->
      <div class="footer">
        <div style="text-align: center;">
          <h5>Công ty cổ Phần và Đầu tư thương Mại MMD</h5>
          <h6 style="color: gray;">Tổng Đài chăm sóc Khách Hàng:0989879000</h6>
          <div>
            <p>coppyright 2017-2019 Batdongsan.com</p>
            <p>email: batdongsan@gmail.com|batdongsan.com.vn</p>
            <p>giấy đăng kí kinh doanh số 23445566 sở kế hoạch đầu tư thahf phố hà nội vấp 23/3/2019</p>
          </div>
        </div>
        <img src="img/dadangki.jpg" alt="">


      </div>
    </div>
  </div>
  <div class="optrai"><img src="img/quangcaotrai.jpg" alt="" /></div>
  <div class="opphai"><img src="img/quangcaophai.jpg" alt="" /></div>
<style>
#create_sp{
  background: #264383;
  color: white;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 30px;
  /* margin-left: 40%; */
  cursor: pointer;
}
div#message {
    /* color: red; */
    margin-top: 50px;
    text-align: center;
}

</style>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="trangchu.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.js"
    integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="js/lib/jquery.validate.min.js"></script>
  <script src="js/lib/additional-methods.min.js"></script>
  <script src="js/lib/jquery.cookie.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src="common.js"></script>
  <script src="index.js"></script>
  <script>
    let image = 'as'
    let flag = 0
    let formData = new FormData()
    function a() {


      try {
        let file = this.event.target.files

        formData.append('file', file[0])

        // For debug purpose only
        // Inspects the content of formData


        if (file[0].type.indexOf("image") >= 0 && file[0].size < 5000000) {
          flag = 1
          console.log(file[0])
          $('#title_image').html("<span>" + file[0].name + "</span>")

        } else {

          $('#message').html("<div>Loi anh</div>")
        }
      } catch (err) {
        console.log(err)
        $('#loading').html("")
        $('#message').html("<div>Loi anh</div>")
      }



    }
    let tokenID = $.cookie('tokenId');
    console.log(tokenID)
    tokenID && tokenID.length > 0 ? ($('#dangki').text("Xin chao"), $('#dangnhap').text("Thoat")) : window.location.replace('/')
    $('#logout').click(() => {
      $.removeCookie('tokenId', { path: "/" });
      window.location.reload()

    })

    $('#tinh').change(() => {
      let id_tinh = $('#tinh').find(':selected').val()
      console.log(id_tinh)
      axios.get('/api/huyen?id=' + id_tinh).then(res => {
        let html = ''
        html += '<div id=huyen><select id="huyen">'
        res.data.map(x => {
          html += '<option value=' + x.id + '>' + x.ten_huyen + '</option>'
        })

        html += '</select></div>'

        $('#selecthuyen').html(html)
      })

    })


    $('#create_sp').click(() => {
      let id_tinh = $('#tinh').find(':selected').val()
      let id_huyen = $('#huyen').find(':selected').val()
      let gia = $('#gia').val()
      let dientich = $('#dientich').val()
      let diachi = $('#diachi').val()
      let tensp = $('#tensp').val()
      let mota_soluoc = $('#mota_soluoc').val()
      let chieudai = $('#chieudai').val()
      let chieungang = $('#chieungang').val()
      let loaidat = $('#loaidat').val()
      let id_loaisp = $('#id_loaisp').find(':selected').val()
      console.log(id_loaisp)
      if(!(id_tinh > 0 && id_huyen > 0 && gia.length > 0 && dientich.length > 0 && diachi.length > 0 && tensp.length > 0 && mota_soluoc.length > 0 && id_loaisp > 1)) {
        $('#message').html("<span>Thông tin bạn nhập chưa chính xác, vui long kiem tra lại</span>")
      }
      else {
        if (flag == 1) {
          $('#loading').html("<img src='/img/loading.gif'style='width: 260px;margin-left:200px;' >")
          $('#loadingstatus').html("<img src='/img/loading.gif'style='width: 90px;margin-left:200px;' >")
          $('#message ' ).html("<span style='color:orange;'>Uploading image...</span>")
          axios.post('/upload', formData, {
            headers: { "Authorization": "Bearer " + $.cookie('tokenId') }
          }).then(res => {
            console.log(res)
            if (res.data.length > 10) {
              image = res.data
              $('#loading').html('<img src=' + image + ' style="width: 260px;margin-left:200px;" >')
              $('#message').html("<span style='color:orange;'>Uploading ...</span>")
              axios.post("/api/sanpham/dangsanpham",
                { id_tinh, id_huyen, gia, dientich, diachi, tensp, mota_soluoc, image, id_loaisp, chieudai, chieungang, loaidat },
                { headers: { "Authorization": "Bearer " + $.cookie('tokenId') } }).then(res => {
                  if (res.data.code === 1000) {
                    $('#message').html("<span style='color:blue;'>Thanh cong</span>")
                    $('#loadingstatus').html("")
                  }
                  else {
                    $('#loadingstatus').html("")
                    $('#message').html("<span>" + res.data.message + "</span>")
                  }
                })
            } else {
              $('#loading').html("")
              $('#loadingstatus').html("")
              $('#message').html("<span style='color:red;'>co loi xay ra, vui long thu lai</span>")
            }

          })
        }
        if (flag == 0) {
          $('#message').html("<span style='color:red;'>Thông tin bạn nhập chưa chính xác, vui long kiem tra lại</span>")
        }

      }


//=======
  //     console.log(id_loaisp)
//>>>>>>> master
    })
  </script>
</body>

</html>