<!doctype html>
<html lang="en">

<head>
    <title>Bat-dong-san</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="trangphu.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="contentmain">
            <div class="header">
                <div class="topheader">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="/">
                                <img src="img/logo.jpg" alt="" />
                            </a>
                        </div>
                        <div class="col-md-9">
                            <div class="topright">
                                <img src="img/quangcao1.jpg" alt="" style="width: 837px;" />
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="img/fb.png" alt="" />
                                    <img src="img/gg.png" alt="" />
                                    <img src="img/youtube.png" alt="" />
                                </div>
                                <div class="col-md-8" style="margin-top: 3px;">
                                    <div class="itemtop">
                                        <a href=""><img src="img/banxehoi.png" />Oto.com.vn</a>
                                    </div>
                                    <div class="itemtop xanh">
                                        <a href=""><img src="img/plus.png" />Đăng rao tin</a>
                                    </div>
                                    <div class="itemtop">
                                        <a href=""><img src="img/register.png" />Đăng ký</a>
                                    </div>
                                    <div class="itemtop">
                                        <a href=""><img src="img/login.png" />Đăng nhập</a>
                                    </div>
                                    <div class="itemtop">
                                        <a href=""><img src="img/english.png" />English</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <div class="itemmenu"><a href="/nhadatban">Nhà đất bán</a></div>
                    <div class="itemmenu"><a href="#">Nhà đất cho thuê</a></div>
                    <div class="itemmenu"><a href="/duan">Dự án</a></div>
                    <div class="itemmenu"><a href="/canmuathue">Cần mua-Cần thuê</a></div>
                    <div class="itemmenu"><a href="#">Tin tức</a></div>
                    <div class="itemmenu"><a href="#">Xây dựng-Kiến trúc</a></div>
                    <div class="itemmenu"><a href="#">Nội - Ngoại thất</a></div>
                    <div class="itemmenu"><a href="#">Phong thủy</a></div>
                    <div class="itemmenu"><a href="#">Danh bạ</a></div>
                </div>
                <div class="timkiem">
                    <div class="itemtimkiem">
                        <h5>TÌM KIẾM DỰ ÁN</h5>
                    </div>
                    <div class="itemtimkiem"><input type="text" name="" id=""
                            placeholder="Nhập từ khóa tìm kiếm(ví dụ: dự án quận Hà Đông)"></div>
                    <div class="itemtimkiem">
                        <p class="fa fa-search" aria-hidden="true"> Tìm kiếm</p>
                    </div>
                    <div class="itemtimkiem hotrovay">Hỗ trợ vay ngân hàng</div>
                </div>
            </div>


            <!-- hết phần header -->
            <div class="danhsach">

            </div>

        </div>
        <!-- footer -->
        <div class="footer">
            <div style="text-align: center;">
                <h5>Công ty cổ Phần và Đầu tư thương Mại MMD</h5>
                <h6 style="color: gray;">Tổng Đài chăm sóc Khách Hàng:0989879000</h6>
                <div>
                    <p>Copyright © 2007 - 2019 Batdongsan.com.vn.
                        <br>Email: hotro@batdongsan.com.vn | cskh@batdongsan.com.vn
                        <br>Giấy ĐKKD số: 0104630479 Do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp lần đầu ngày
                        02/06/2010
                        <br>Giấy phép ICP số 3399/GP-STTTT do Sở Thông tin và Truyền thông Hà Nội cấp ngày 4 tháng 9 năm
                        2014.
                        <br>Chịu trách nhiệm nội dung: Bà Trần Thị Hồng Thúy - ® Ghi rõ nguồn "Batdongsan.com.vn" khi
                        phát hành lại
                        thông tin từ
                        website này.
                        Toàn bộ quy chế, quy định giao dịch chung được đăng tải trên website áp dụng từ ngày 20/02/2019.
                    </p>
                </div>
            </div>
            <img src="img/dadangki.jpg" alt="">


        </div>
    </div>
    </div>
    <div class="optrai"><img src="img/quangcaotrai.jpg" alt="" /></div>
    <div class="opphai"><img src="img/quangcaophai.jpg" alt="" /></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="common.js"></script>
    <script src="index.js"></script>
    <script>
        TinTuc.getNhaDatThue();
    </script>
</body>

</html>