<!doctype html>
<html lang="en">

<head>
  <title>Bat-dong-san</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div>
    <div class="container">
      <div class="contentmain">
        <div class="header">
          <div class="topheader">
            <div class="row">
              <div class="col-md-3">
                <a href="/">
                  <img src="img/logo.jpg" alt="" />
                </a>
              </div>
              <div class="col-md-9">
                <div class="topright">
                  <img src="img/quangcao1.jpg" alt="" style="width: 837px;" />
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <img src="img/fb.png" alt="" />
                    <img src="img/gg.png" alt="" />
                    <img src="img/youtube.png" alt="" />
                  </div>
                  <div class="col-md-8" style="margin-top: 3px;" id="navBar">
                    <div class="itemtop">
                      <a href=""><img src="img/banxehoi.png" />Oto.com.vn</a>
                    </div>
                    <div class="itemtop xanh">
                      <a href=""><img src="img/plus.png" />Đăng rao tin</a>
                    </div>
                    <div class="itemtop dangki" data-toggle="modal" href='#modalDangKy'>
                      <img src="img/register.png" />Đăng ký
                    </div>
                    <div class="itemtop dangnhap" data-toggle="modal" href='#modalDangNhap'>
                      <img src="img/login.png" />Đăng nhập
                    </div>
                    <div class="itemtop">
                      <a href=""><img src="img/english.png" />English</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="menu">
            <div class="itemmenu"><a href="#">Nhà đất bán</a></div>
            <div class="itemmenu"><a href="/nhadatthue">Nhà đất cho thuê</a></div>
            <div class="itemmenu"><a href="/duan">Dự án</a></div>
            <div class="itemmenu"><a href="/muathue">Cần mua-Cần thuê</a></div>
            <div class="itemmenu"><a href="#">Tin tức</a></div>
            <div class="itemmenu"><a href="#">Xây dựng-Kiến trúc</a></div>
            <div class="itemmenu"><a href="#">Nội - Ngoại thất</a></div>
            <div class="itemmenu"><a href="#">Phong thủy</a></div>
            <div class="itemmenu"><a href="#">Danh bạ</a></div>
          </div>
          <div class="timkiem">
            <div class="itemtimkiem">
              <h5>TÌM KIẾM DỰ ÁN</h5>
            </div>
            <div class="itemtimkiem"><input type="text" placeholder="Nhập từ khóa tìm kiếm(ví dụ: dự án quận Hà Đông)"></div>
            <div class="itemtimkiem">
              <p class="fa fa-search" aria-hidden="true"> Tìm kiếm</p>
            </div>
            <div class="itemtimkiem hotrovay">Hỗ trợ vay ngân hàng</div>
          </div>
          <!-- hết phần header -->
          <div class="underheader">
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-12">
                    <div class="thongtinanh">
                      <div class="item">
                        <img src="img/anhtt.jpg" alt="" />
                      </div>
                      <div class="item">
                        <div class="tieude">
                          <h4>Lý do căn hộ cao cấp citysmal được săn đón</h4>
                        </div>
                        <div class="ttchitiet">sdf hefuw wjfe rejge kerjierg it ha ferf nư ẻ sowjenf hfjw hfr
                          hqaqhjhBEQHJBFUBF hsbh he hdnw</div>
                      </div>
                    </div>
                    <div class="bangthongtinchu">
                      <table>
                        <!-- foreach đổ dữ liệu ra là dc, hoặc bỏ qua nó cũng dc -->
                        <tr>
                          <td>Giá thuê Hà nội tăng, HCM giảm dịp đầu năm</td>
                        </tr>
                        <tr>
                          <td>asdvhsBF hfj SDGHEF JDFHJjsd fsnjfgs</td>
                        </tr>
                        <tr>
                          <td>Giá thuê Hà nội tăng, HCM giảm dịp đầu năm</td>
                        </tr>
                        <tr>
                          <td>asdvhsBF hfj SDGHEF JDFHJjsd fsnjfgs</td>
                        </tr>
                        <tr>
                          <td>Giá thuê Hà nội tăng, HCM giảm dịp đầu năm</td>
                        </tr>
                        <tr>
                          <td>asdvhsBF hfj SDGHEF JDFHJjsd fsnjfgs</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="topvay">
                  <a href="#"><img src="img/vayuudai.jpg" alt="" /></a>
                </div>


                <div class="tinrao">
                  <div class="tieuderao">Tin Rao Dành Cho Bạn</div>
                  <div class="listtinrao">

                  </div>



                </div>
              </div>
              <div class="col-md-3">
                <img src="img/hoicho.JPG" alt="" />
                <div class="hotro">
                  <img src="img/noibat.JPG" alt="">
                </div>
                <img src="img/hotro.JPG" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="gioithieu">
          <div class="topgioithieu">
            <h5>
              Mua bán và cho thuê nhà đất trên Batdongsan.com.vn
            </h5>
            <p>Batdongsan.com.vn có hơn 1.000.000 tin cho thuê và mua bán nhà đất tại Việt Nam. Chúng tôi liệt kê danh
              sách nhiều thông tin nhà đất nhất phục vụ mọi nhu cầu, từ phòng trọ tới biệt thự cao cấp. Bạn là nhà đầu
              tư hay gia đình cần nhà để ở? Batdongsan.com.vn đều có thể giúp bạn. Tìm tin bán nhà đất hoặc cho thuê nhà
              đất mới nhất bằng cách sử dụng công cụ tìm kiếm hoặc các đường link ngay trên trang chủ.</p>

          </div>
          <div class="bottomgioithieu" style="display:flex;">
            <img src="img/baochi.JPG" alt="">
            <marquee behavior="" direction="" style="display:flex;"> Tiền Phong: hàng triệu USD được đầu tư vào VN Zing
              new: nghề môi giới bất động sản, làm gì để thành công?</marquee>
          </div>
        </div>
        </div>
        <!-- footer -->
        <div class="footer">
          <div style="text-align: center;">
            <h5>Công ty cổ Phần và Đầu tư thương Mại MMD</h5>
            <h6 style="color: gray;">Tổng Đài chăm sóc Khách Hàng:0989879000</h6>
            <div>
              <p>Copyright © 2007 - 2019 Batdongsan.com.vn.
                <br>Email: hotro@batdongsan.com.vn | cskh@batdongsan.com.vn
                <br>Giấy ĐKKD số: 0104630479 Do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp lần đầu ngày 02/06/2010
                <br>Giấy phép ICP số 3399/GP-STTTT do Sở Thông tin và Truyền thông Hà Nội cấp ngày 4 tháng 9 năm 2014.
                <br>Chịu trách nhiệm nội dung: Bà Trần Thị Hồng Thúy - ® Ghi rõ nguồn "Batdongsan.com.vn" khi phát hành lại
                thông tin từ
                website này.
                Toàn bộ quy chế, quy định giao dịch chung được đăng tải trên website áp dụng từ ngày 20/02/2019.
              </p>
            </div>
          </div>
          <img src="img/dadangki.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="optrai"><img src="img/quangcaotrai.jpg" alt="" /></div>
    <div class="opphai"><img src="img/quangcaophai.jpg" alt="" /></div>

    <div class="modal fade" id="modalDangNhap">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Đăng nhập</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <form id="formDangNhap">
              <div style="display:none;"><input type="hidden"></div>
              <div class="form-group">
                <div style="text-align: center;">
                  <p class="text-info h6">Xin vui lòng điền đầy đủ chính xác các trường để đảm bảo thông tin và quyền lợi</p>
                </div>
              </div>
              <div class="form-group" style="text-align:center;">
                <div class="row">
                  <label class="col-sm-3 control-label lable">Số điện thoại:</label>
                  <div class="col-sm-9">
                    <div class="number required" aria-required="true">
                      <input name="loginNumber" class="form-control"
                        placeholder="Xin vui lòng nhập số điện thoại"></div>
                  </div>
                </div>
              </div>
              <div class="form-group" style="text-align:center;">
                <div class="row">
                  <label class="col-sm-3 control-label lable">Mật khẩu:</label>
                  <div class="col-sm-9">
                    <div class="password required">
                      <input name="loginPassword" class="form-control"
                        placeholder="Xin vui lòng nhập mật khẩu" type="password" id="UserPassword"></div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3 ">
                    <a href="#" style="color: #1623b9; margin-left: 30px;">Quên mật khẩu</a>
                  </div>
                </div>
              </div>
              <div class="form-group hidden-xs">
                <div class="row justify-content-md-center">
                  <div class="col-sm-6">
                    <input class="btn dangnhap btn-info text-center mb-5 offset-3" style="background: #1623b9" type="button"
                      value="Đăng nhập" onclick="Authenciate.dangNhap()" />
                  </div>
                </div>
              </div>
              <div>
                <p style="text-align:center;clear: both;">Nếu bạn chưa có tài khoản Đăng kí <a href="dangki">tại đây</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Dang Ky -->
    <div class="modal fade" id="modalDangKy">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Đăng ký</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <form id="formDangKy" name="formDangKy">
              <div class="form-group">
                <div style="text-align:center;">
                  <p class="h6 text-info">Xin vui lòng điền đầy đủ chính xác các trường để đảm bảo thông tin và quyền lợi</p>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-sm-3 control-label lable">Tên tài khoản:</label>
                  <div class="col-sm-6">
                    <div>
                      <input type="text" name="username" class="form-control" placeholder="Nhập tên tài khoản" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-sm-3 control-label lable">Mật khẩu:</label>
                  <div class="col-sm-6">
                    <div><input id="password" name="password" class="form-control" type="password" placeholder="Nhập mật khẩu">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-sm-3 control-label lable"> Nhập lại mật khẩu:</label>
                  <div class="col-sm-6">
                    <div><input name="passwordconf" class="form-control" type="password" placeholder="Nhập lại mật khẩu"></div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label class="col-sm-3 control-label lable">Ngày sinh:</label>
                  <div class="col-sm-6">
                    <div><input id="tuoi" name="tuoi" class="form-control" type="date"></div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <label for="" class="col-md-3 control-label lable">Giới tính</label>
                  <div>
                    <select class="col-md-6" style="width: 342px; height: 40px; margin-left: 15px; margin-bottom: 20px;"
                      id="gender">
                      <option value="nam">Nam</option>
                      <option value="nữ">Nữ</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="col-sm-3 control-label lable">Số điện thoại:</label>
                    <div class="col-sm-6">
                      <div class=" number required" aria-required="true">
                        <input name="sdt" class="form-control" placeholder="Nhập số điện thoại" type="text" id="UserPhonenumber" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="col-sm-3 control-label lable">Email:</label>
                    <div class="col-sm-6">
                      <div><input name="email" class="form-control" placeholder="Nhập email"></div>
                    </div>
                  </div>

                </div>
                <div class="form-group">
                  <div class="row">
                    <label class="col-sm-3 control-label lable">Địa chỉ:</label>
                    <div class="col-sm-6">
                      <div><input name="diachi" class="form-control" placeholder="Nhập địa chỉ"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row ">
                    <div>
                      <span class="text-name">Bằng việc bạn click nút
                        <span class="register-link">Đăng ký</span>. Bạn đã đồng ý với <span class="dieukhoan-link">
                          <a href="#" style="color:blue;">Điều khoản dịch vụ</a>
                        </span> của <span class="register-link">Batdongsan.com</span>
                      </span></div>
                  </div>
                </div>
                <div class="form-group hidden-xs">
                  <div class="row justify-content-md-center">
                    <div class="col-sm-6">
                      <div>
                        <div onclick="Authenciate.dangKy()" class="btn btn-danger" style="width:200px;background: #1623b9;">Đăng
                          kí</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <p style="text-align:center;clear: both;">Nếu bạn đã có tài khoản Đăng nhập <a href="">tại đây</a></p>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="trangchu.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.js" integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="js/lib/jquery.validate.min.js"></script>
    <script src="js/lib/additional-methods.min.js"></script>
    <script src="js/lib/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="common.js"></script>
    <script src="index.js"></script>
    <script>
      $.extend($.validator.messages, {
          required: "Trường bắt buộc.",
          email: "Xin hãy nhập đúng định dạng Email.",
          minlength: $.validator.format("Xin hãy nhập ít nhất là {0} kí tự."),
          maxlength: $.validator.format("Xin hãy không nhập quá {0} kí tự."),
          equalTo: "Nhập lại mật khẩu không đúng",
          digits: "Vui lòng chỉ nhập số.",

        });
      Authenciate.validate();
      TinTuc.getBaiViet();
      TinTuc.getTinTuc();
      isLogin();
    </script>
</body>

</html>