<!doctype html>
<html lang="en">

<head>
  <title>Bat-dong-san</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div>
    <div class="container">
      <div class="contentmain">
        <div class="header">
          <div class="topheader">
            <div class="row">
              <div class="col-md-3">
                <img src="img/logo.jpg" alt="" />
              </div>
              <div class="col-md-9">
                <div class="topright">
                  <img src="img/quangcao1.jpg" alt="" style="width: 837px;" />
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <img src="img/fb.png" alt="" />
                    <img src="img/gg.png" alt="" />
                    <img src="img/youtube.png" alt="" />
                  </div>
                  <div class="col-md-8" style="margin-top: 3px;">
                    <div class="itemtop">
                      <a href=""><img src="img/banxehoi.png" />Oto.com.vn</a>
                    </div>
                    <div class="itemtop xanh">
                      <a href=""><img src="img/plus.png" />Đăng rao tin</a>
                    </div>
                    <div class="itemtop dangki">
                      <img src="img/register.png" />Đăng ký
                    </div>
                    <div class="itemtop dangnhap">
                      <img src="img/login.png" />Đăng nhập
                    </div>
                    <div class="itemtop">
                      <a href=""><img src="img/english.png" />English</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="menu">
            <div class="itemmenu"><img src="img/homea.png" alt="" /></div>
            <div class="itemmenu"><a href="nhadatban.html">Nhà đất bán</a></div>
            <div class="itemmenu"><a href="">Nhà đất cho thuê</a></div>
            <div class="itemmenu"><a href="">Dự án</a></div>
            <div class="itemmenu"><a href="">Cần mua-Cần thuê</a></div>
            <div class="itemmenu"><a href="">Tin tức</a></div>
            <div class="itemmenu"><a href="">Xây dựng-Kiến trúc</a></div>
            <div class="itemmenu"><a href="">Nội - Ngoại thất</a></div>
            <div class="itemmenu"><a href="#">Phong thủy</a></div>
            <div class="itemmenu"><a href="#">Danh bạ</a></div>
          </div>
          <div class="timkiem">
            <div class="itemtimkiem">
              <h5>TÌM KIẾM DỰ ÁN</h5>
            </div>
            <div class="itemtimkiem"><input type="text" name="" id=""
                placeholder="Nhập từ khóa tìm kiếm(ví dụ: dự án quận Hà Đông)"></div>
            <div class="itemtimkiem">
              <p class="fa fa-search" aria-hidden="true"> Tìm kiếm</p>
            </div>
            <div class="itemtimkiem hotrovay">Hỗ trợ vay ngân hàng</div>
          </div>
          <!-- hết phần header -->


          <div class="underheader">
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-4">
                    <div class="underheader__topright">
                      <p style="margin-right: 15px;"> Công cụ tìm kiếm</p>


                    </div>
                    <div class="underheader__centerright">
                      <div class="item" style="background:white">
                        nhà đất bán
                      </div>
                      <div class="item">nhà đất cho thuê
                      </div>
                      <div class="item">
                        tìm môi giới
                      </div>

                    </div>
                    <div class="underheader__bottomright">
                      <div class="underheader__bottomright__content">
                        <div class="doc">
                          <input type="text" name="" placeholder="nhập địa điểm vd(time city)" />
                        </div>
                        <div class="doc">
                          <input type="text" name="" placeholder="-chọn loại nhà đất" />
                        </div>
                        <div class="doc">
                          <input type="text" name="" placeholder="-chọn tỉnh/thành phố" />
                        </div>
                        <div class="doc">
                          <input type="text" name="" placeholder="Quận huyện" />
                        </div>
                        <div class="doc">
                          <input type="text" name="" placeholder="Diện tích" />
                        </div>
                        <div class="doc">
                          <input type="text" name="" placeholder="mức giá" />
                        </div>
                        <div class="doc" style="display: flex;">
                          <div>
                            <a href=""> tìm hiểu thêm</a>
                          </div>
                          <div style="margin-left:10px;"><img src="img/timkiem.jpg" /></div>

                        </div>
                      </div>


                    </div>

                  </div>
                  <div class="col-md-8">
                    <div class="thongtinanh">
                      <div class="item">
                        <img src="img/anhtt.jpg" alt="" />
                      </div>
                      <div class="item">
                        <div class="tieude">
                          <h4>Lý do căn hộ cao cấp citysmal được săn đón</h4>
                        </div>
                        <div class="ttchitiet">sdf hefuw wjfe rejge kerjierg it ha ferf nư ẻ sowjenf hfjw hfr
                          hqaqhjhBEQHJBFUBF hsbh he hdnw</div>

                      </div>

                    </div>
                    <div class="bangthongtinchu">
                      <table>
                        <!-- foreach đổ dữ liệu ra là dc, hoặc bỏ qua nó cũng dc -->
                        <tr>
                          <td>Giá thuê Hà nội tăng, HCM giảm dịp đầu năm</td>
                        </tr>
                        <tr>
                          <td>asdvhsBF hfj SDGHEF JDFHJjsd fsnjfgs</td>
                        </tr>
                        <tr>
                          <td>Giá thuê Hà nội tăng, HCM giảm dịp đầu năm</td>
                        </tr>
                        <tr>
                          <td>asdvhsBF hfj SDGHEF JDFHJjsd fsnjfgs</td>
                        </tr>
                        <tr>
                          <td>Giá thuê Hà nội tăng, HCM giảm dịp đầu năm</td>
                        </tr>
                        <tr>
                          <td>asdvhsBF hfj SDGHEF JDFHJjsd fsnjfgs</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="topvay">
                  <a href="#"><img src="img/vayuudai.jpg" alt="" /></a>
                </div>


                <div class="tinrao">
                  <div class="tieuderao">Tin Rao Dành Cho Bạn</div>
                  <div class="listtinrao">
                    <div class="iteminrao">
                      <div class="anhrao"><a href="">
                          <img src="img/anhrao.jpg" alt="">
                        </a> </div>
                      <div class="tin">
                        <div class="tieudetin">tôi cần thuê căn hộ Hòa Bình Ở VinCity, nội thất đẹp, giá 10tr/th</div>
                        <div class="ndtin">
                          <div class="gia">
                            <p>Giá</p>2 tỷ
                          </div>
                          <div class="gia">
                            <p>Diện tích</p>100m2
                          </div>
                          <div class="gia">
                            <p>Quận/Huyện</p>Quận Hai Bà TRưng- Hà Nội
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="iteminrao">
                      <div class="anhrao">
                        <a href="#">
                          <img src="img/anhrao.jpg" alt="">
                        </a>
                      </div>
                      <div class="tin">
                        <div class="tieudetin">tôi cần thuê căn hộ Hòa Bình Ở VinCity, nội thất đẹp, giá 10tr/th</div>
                        <div class="ndtin">
                          <div class="gia">
                            <p>Giá</p>2 tỷ
                          </div>
                          <div class="gia">
                            <p>Diện tích</p>100m2
                          </div>
                          <div class="gia">
                            <p>Quận/Huyện</p>Quận Hai Bà TRưng- Hà Nội
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="iteminrao">
                      <div class="anhrao"><a href="#">
                          <img src="img/anhrao.jpg" alt="">
                        </a> </div>
                      <div class="tin">
                        <div class="tieudetin">tôi cần thuê căn hộ Hòa Bình Ở VinCity, nội thất đẹp, giá 10tr/th</div>
                        <div class="ndtin">
                          <div class="gia">
                            <p>Giá</p>2 tỷ
                          </div>
                          <div class="gia">
                            <p>Diện tích</p>100m2
                          </div>
                          <div class="gia">
                            <p>Quận/Huyện</p>Quận Hai Bà TRưng- Hà Nội
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="iteminrao">
                      <div class="anhrao"><a href="#">
                          <img src="img/anhrao.jpg" alt="">
                        </a> </div>
                      <div class="tin">
                        <div class="tieudetin">tôi cần thuê căn hộ Hòa Bình Ở VinCity, nội thất đẹp, giá 10tr/th</div>
                        <div class="ndtin">
                          <div class="gia">
                            <p>Giá</p>2 tỷ
                          </div>
                          <div class="gia">
                            <p>Diện tích</p>100m2
                          </div>
                          <div class="gia">
                            <p>Quận/Huyện</p>Quận Hai Bà TRưng- Hà Nội
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="iteminrao">
                      <div class="anhrao"><a href="#">
                          <img src="img/anhrao.jpg" alt="">
                        </a> </div>
                      <div class="tin">
                        <div class="tieudetin">tôi cần thuê căn hộ Hòa Bình Ở VinCity, nội thất đẹp, giá 10tr/th</div>
                        <div class="ndtin">
                          <div class="gia">
                            <p>Giá</p>2 tỷ
                          </div>
                          <div class="gia">
                            <p>Diện tích</p>100m2
                          </div>
                          <div class="gia">
                            <p>Quận/Huyện</p>Quận Hai Bà TRưng- Hà Nội
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="iteminrao">
                      <div class="anhrao"><a href="#">
                          <img src="img/anhrao.jpg" alt="">
                        </a> </div>
                      <div class="tin">
                        <div class="tieudetin">tôi cần thuê căn hộ Hòa Bình Ở VinCity, nội thất đẹp, giá 10tr/th</div>
                        <div class="ndtin">
                          <div class="gia">
                            <p>Giá</p>2 tỷ
                          </div>
                          <div class="gia">
                            <p>Diện tích</p>100m2
                          </div>
                          <div class="gia">
                            <p>Quận/Huyện</p>Quận Hai Bà TRưng- Hà Nội
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



                </div>
              </div>



              <div class="col-md-3">
                <img src="img/hoicho.JPG" alt="" />
                <div class="hotro">
                  <img src="img/noibat.JPG" alt="">
                </div>
                <img src="img/hotro.JPG" alt="">

              </div>
            </div>

          </div>


        </div>
        <div class="gioithieu">
          <div class="topgioithieu">
            <h5>
              Mua bán và cho thuê nhà đất trên Batdongsan.com.vn
            </h5>
            <p>Batdongsan.com.vn có hơn 1.000.000 tin cho thuê và mua bán nhà đất tại Việt Nam. Chúng tôi liệt kê danh
              sách nhiều thông tin nhà đất nhất phục vụ mọi nhu cầu, từ phòng trọ tới biệt thự cao cấp. Bạn là nhà đầu
              tư hay gia đình cần nhà để ở? Batdongsan.com.vn đều có thể giúp bạn. Tìm tin bán nhà đất hoặc cho thuê nhà
              đất mới nhất bằng cách sử dụng công cụ tìm kiếm hoặc các đường link ngay trên trang chủ.</p>

          </div>
          <div class="bottomgioithieu" style="display:flex;">
            <img src="img/baochi.JPG" alt="">
            <marquee behavior="" direction="" style="display:flex;"> tiền phong: hàng triệu USD được đầu tư vào VN Zing
              new: nghề môi giới bất động sản, làm gì để thành công?</marquee>

          </div>
        </div>
        <div class="mail">
          <div style="height: 35px;display: flex; margin-top:6px;">
            <img src="img/mail.jpg" alt="">
            <h6> Đăng kí ngay để nhận bản tin điện tử từ Batdongsan.com</h6>
            <div class="tong">
              <input type="text" name="" id="" placeholder="nhập địa chỉ email">
              <button>Đăng kí</button>
            </div>
          </div>

        </div>

        <div class="chinhanh">
          <div class="row">
            <div class="col-md-3">
              <h5 style="color:blue">Nhà đất Hà Nội</h5>
              <div><a href="">Trung cư An Nam</a></div>
              <div><a href="">Dự án đô thị xanh</a></div>
              <div><a href="">Trung cư An Nam</a></div>
              <div><a href="">Dự án đô thị xanh</a></div>

              <div><a href="">Trung cư An Nam</a></div>
              <div><a href="">Dự án đô thị xanh</a></div>

              <div><a href="">Trung cư An Nam</a></div>
              <div><a href="">Dự án đô thị xanh</a></div>

              <div><a href="">Trung cư An Nam</a></div>
              <div><a href="">Dự án đô thị xanh</a></div>



            </div>
            <div class="col-md-3">
              <h5>NHà Đất Thành Phố HCM</h5>
              <div><a href="">Bán Đất quận 10</a></div>
              <div><a href="">Bán Đất quận 10</a></div>
              <div><a href="">Bán Đất quận 10</a></div>
              <div><a href="">Bán Đất quận 10</a></div>
              <div><a href="">Bán Đất quận 10</a></div>
              <div><a href="">Bán Đất quận 10</a></div>
              <div><a href="">Bán Đất quận 10</a></div>
              <div><a href="">Bán Đất quận 10</a></div>
              <div><a href="">Bán Đất quận 10</a></div>
              <div><a href="">Bán Đất quận 10</a></div>
              <div><a href="">Bán Đất quận 10</a></div>


            </div>
            <div class="col-md-3">
              <h5> Nhà Đất Hải Phòng</h5>
              <div><a href="">Bán Đất Kiến An</a></div>
              <div><a href="">Bán Đất Hòng bàng</a></div>
              <div><a href="">Bán Đất quận Ca</a></div>
              <h5> Nhà Đất Quảng Ninh</h5>
              <div><a href="">Bán Đất Kiến An</a></div>
              <div><a href="">Bán Đất Hòng bàng</a></div>
              <div><a href="">Bán Đất quận Ca</a></div>
              <h5> Nhà Đất Bình Dương</h5>
              <div><a href="">Bán Đất Kiến An</a></div>
              <div><a href="">Bán Đất Hòng bàng</a></div>
              <div><a href="">Bán Đất quận Ca</a></div>

            </div>
            <div class="col-md-3">
              <h5> Nhà Đất Khánh Hòa</h5>
              <div><a href="">Bán Đất Kiến An</a></div>
              <div><a href="">Bán Đất Hòng bàng</a></div>
              <div><a href="">Bán Đất quận Ca</a></div>
              <h5> Nhà Đất Đồng Nai</h5>
              <div><a href="">Bán Đất Kiến An</a></div>
              <div><a href="">Bán Đất Hòng bàng</a></div>
              <div><a href="">Bán Đất quận Ca</a></div>

            </div>
          </div>


        </div>



        <!-- footer -->
        <div class="footer">
          <div style="text-align: center;">
            <h5>Công ty cổ Phần và Đầu tư thương Mại MMD</h5>
            <h6 style="color: gray;">Tổng Đài chăm sóc Khách Hàng:0989879000</h6>
            <div>
              <p>coppyright 2017-2019 Batdongsan.com</p>
              <p>email: batdongsan@gmail.com|batdongsan.com.vn</p>
              <p>giấy đăng kí kinh doanh số 23445566 sở kế hoạch đầu tư thahf phố hà nội vấp 23/3/2019</p>
            </div>
          </div>
          <img src="img/dadangki.jpg" alt="">


        </div>
      </div>
    </div>
    <div class="optrai"><img src="img/quangcaotrai.jpg" alt="" /></div>
    <div class="opphai"><img src="img/quangcaophai.jpg" alt="" /></div>

    <!-- popupdang nhap -->
    <div class="popupdangnhap an">
      <div class="manhinhden"></div>
      <div class="noidungpopup">



        <form>
          <div class="form-group" style="">

          </div>
          <div style="display:none;"><input type="hidden" ></div>
          <div class="form-group">
            <div style="text-align: center;">


              <p>xin vui lòng điền đầy đủ chính xác các trường để </p>
              <p>đảm bảo thông tin và quyền lợi</p>

            </div>
          </div>
          <div class="form-group" style="text-align:center;">
            <div class="row">


              <label class="col-sm-3 control-label lable">Số điện thoại:</label>
              <div class="col-sm-6">
                <div class=" number required" aria-required="true">
                  <input style="width:370px;height:45px;" name="sdt" class="form-control"
                    placeholder="Xin vui lòng nhập số điện thoại" autofocus="autofocus" value=""
                    data-rule-required="true" data-msg-required="Vui lòng nhập số điện thoại của bạn"
                    data-rule-number="true" data-msg-number="Xin vui lòng nhập số" data-rule-minlength="10"
                    data-msg-minlength="Số điện thoại từ 10 - 11 ký tự" data-rule-maxlength="11"
                    data-msg-maxlength="Số điện thoại từ 10 - 11 ký tự" type="number" id="UserPhonenumber"
                    required="required" aria-required="true"></div>
              </div>
            </div>

          </div>
          <div class="form-group" style="text-align:center;">
            <div class="row">
              <label class="col-sm-3 control-label lable">Mật khẩu:</label>
              <div class="col-sm-6">
                <div class="password required" aria-required="true">
                  <input style="width:370px;height:45px;" name="password" class="form-control" maxlength="30"
                    placeholder="Xin vui lòng nhập mật khẩu" data-rule-required="true"
                    data-msg-required="Vui lòng nhập mật khẩu" data-rule-lettersonly="true"
                    data-msg-lettersonly="Vui lòng chỉ nhập chữ và số" data-rule-minlength="6"
                    data-msg-minlength="Mật khẩu tối thiểu 6 ký tự" data-rule-maxlength="30"
                    data-msg-maxlength="Mật khẩu tối đa 30 ký tự" type="password" id="UserPassword" required="required"
                    aria-required="true"></div>
              </div>
            </div>

          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 ">
                <a href="#" style="    color: #1623b9;
                              margin-left: 30px;">Quên mật khẩu</a>
              </div>
            </div>
          </div>
          <div class="form-group hidden-xs">
            <div class="row justify-content-md-center">
              <div class="col-sm-6">
                <button class="btn dangnhap btn-danger text-center mb-5" style="background: #1623b9" type="submit">Đăng
                  nhập</button> </div>
            </div>


          </div>
          <div>
            <p style="text-align:center;clear: both;">Nếu bạn chưa có tài khoản Đăng kí <a href="dangki">tại đây</a></p>
          </div>
        </form>



      </div>
    </div>

    <!-- popup dang ki -->
    <div class="popupdangki an">
      <div class="manhinhdendk"></div>
      <div class="noidungpopupdk">

        <form action="" method="">

          <div class="form-group">
            <div class="row ">
              <div style="text-align:center;">

                <p style="margin-left: 110px;">xin vui lòng điền đầy đủ chính xác các trường để </p>
                <p style="margin-left: 149px;">đảm bảo thông tin và quyền lợi</p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label class="col-sm-3 control-label lable">tên tài khoản:</label>
              <div class="col-sm-6">
                <div><input type="text" name="username" class="form-control" placeholder="Xin vui lòng nhập ten" />

                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <label class="col-sm-3 control-label lable">Mật khẩu:</label>
              <div class="col-sm-6">
                <div><input name="password" class="form-control" type="password" placeholder="nhap password"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label class="col-sm-3 control-label lable"> Nhập lại mật khẩu:</label>
              <div class="col-sm-6">
                <div><input name="passwordconf" class="form-control" type="password" placeholder="nhap password"></div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <div class="row">
              <label class="col-sm-3 control-label lable">ngày sinh:</label>
              <div class="col-sm-6">
                <div><input name="tuoi" class="form-control" type="date"></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="" class="col-md-3 control-label lable">Giới tính</label>
              <div>
                <select class="col-md-6" style="    width: 342px;
  height: 40px;
  margin-left: 15px;
  margin-bottom: 20px;">
                  <option>nam</option>
                  <option>nữ</option>
                  <option>
                    khác
                  </option>
                </select>
              </div>


            </div>

            <div class="form-group">
              <div class="row">
                <label class="col-sm-3 control-label lable">Số điện thoại:</label>
                <div class="col-sm-6">
                  <div class=" number required" aria-required="true"><input name="sdt" class="form-control"
                      placeholder="Xin vui lòng nhập số điện thoại" autofocus="autofocus" value=""
                      data-rule-required="true" data-msg-required="Vui lòng nhập số điện thoại của bạn"
                      data-rule-number="true" data-msg-number="Xin vui lòng nhập số" data-rule-minlength="10"
                      data-msg-minlength="Số điện thoại từ 10 - 11 ký tự" data-rule-maxlength="11"
                      data-msg-maxlength="Số điện thoại từ 10 - 11 ký tự" type="number" id="UserPhonenumber"
                      required="required" aria-required="true"></div>
                </div>
              </div>

            </div>
            <div class="form-group">
              <div class="row">
                <label class="col-sm-3 control-label lable">Email:</label>
                <div class="col-sm-6">
                  <div><input name="email" class="form-control" placeholder="Xin vui lòng nhập email"></div>
                </div>
              </div>

            </div>
            <div class="form-group">
              <div class="row">
                <label class="col-sm-3 control-label lable">Địa chỉ:</label>
                <div class="col-sm-6">
                  <div><input name="diachi" class="form-control" placeholder="Xin vui lòng nhập dia chi"></div>
                </div>
              </div>

            </div>
            <div class="form-group">
              <div class="row ">
                <div>
                  <span class="text-name">Bằng việc bạn click nút
                    <span class="register-link">Đăng ký</span>. Bạn đã đồng ý với <span class="dieukhoan-link">
                      <a href="#" style="color:blue;">Điều khoản dịch vụ</a>
                    </span> của <span class="register-link">Batdongsan.com</span>
                  </span></div>
              </div>
            </div>


            <div class="form-group hidden-xs">
              <div class="row justify-content-md-center">
                <div class="col-sm-6">
                  <div><button type="submit" class="btn btn-danger" style="width:200px;background: #1623b9;">Đăng
                      kí</button></div>
                </div>
              </div>


            </div>
            <div>
              <p style="text-align:center;clear: both;">Nếu bạn đa có tài khoản Đăng nhập <a href="">tại đây</a></p>
            </div>


        </form>


      </div>
    </div>

  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="trangchu.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>